.error_container{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   height: 57vh;
   color: #FF6060;
}
.title_error{
    font-size: 288px;
    font-weight: 900;
    margin: 0;
    
}
.text_error{
    font-size: 36px;
    margin: 0;
}

.LinkError{
    color: #FF6060;
   font-size: 18px;
   margin-top: 100px;
}
.LinkError:hover {
    filter: brightness(0.95);
 }